
textarea {
  height: 100px;
  width: 100%;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: #4cda2187;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #12da0ba2;
  color: rgb(255, 254, 254);
}

.form-container {
  padding: 16px;
  max-width: 330px;
  margin: 12px auto;
}

form,
.login-form {
  max-width: 300px;
  margin:auto
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 14px;
  padding: 9px;
}

button {
  padding: 9px;
  font-size: 15px;
  width: 100%;
  border-radius: 7px;
}
h2{
  color: #ffffff;
}
label{
  color: #ffffff;
}
