.form-container {
    background: #235c25;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
} 
form {
    max-width: 400px;
    margin: 0 auto;
    color: rgb(253, 253, 250)
  
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f8f6f6;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea {
height: 100px;
width: 100%;
border-radius: 5px;
}
input[type="submit"] {
    background-color: #4cda2187;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0a5a07a2;
    color: rgb(255, 254, 254);
} 

