
textarea {
height: 100px;
width: 100%;
border-radius: 5px;
}
input[type="submit"] {
    background-color: #4cda2187;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #46d65ea2;
    color: rgb(255, 254, 254);
} 

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        font-size: 14px;
        padding: 8px;
    }

    input[type="submit"] {
        padding: 9px;
        font-size: 15px;
    }
    



